/* _content/Axians.Web/Shared/Detail.razor.rz.scp.css */
.navigation[b-s6b3lh3eje] {
    gap: 20px;
}

.navigation-text[b-s6b3lh3eje] {
    font-size: 12px;
    font-weight: bold;
    color: #6b7280;
}

    .navigation-text.previous[b-s6b3lh3eje] {
        margin-left: 10px;
    }

    .navigation-text.following[b-s6b3lh3eje] {
        margin-right: 10px;
    }

.button-navigation[b-s6b3lh3eje] {
    background-color: rgba(99, 102, 241, 0.1);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button-navigation:hover[b-s6b3lh3eje] {
        background-color: rgba(99, 102, 241, 0.2);
    }

.icon-color[b-s6b3lh3eje] {
    color: #6a0dad;
}

.block-required-field[b-s6b3lh3eje] {
    margin-top: 15px;
}

.required-field[b-s6b3lh3eje] {
    color: #6a0dad;
    font-size: 0.8em;
}
/* _content/Axians.Web/Shared/Header.razor.rz.scp.css */
.warning[b-k685qniu7q] {
    font-size: 12px;
    color: #999;
    padding-left: 45px;
}

.back-button[b-k685qniu7q] {
    background-color: transparent;
    border: none;
    color: #7f5fe8;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-title[b-k685qniu7q] {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 15px;
    font-weight: 300;
    color: #999;
}

.pen-color[b-k685qniu7q] {
    color: #7f5fe8;
    margin-top: 1px;
}

.status[b-k685qniu7q] {
    font-size: 12px;
    color: #7f5fe8;
}

.save-button[b-k685qniu7q], .validate-button[b-k685qniu7q], .publish-button[b-k685qniu7q] {
    margin-bottom: 15px;
    padding: 8px 16px;
    border: 1px solid #7f5fe8;
    background-color: white;
    color: #7f5fe8;
    border-radius: 5px;
    font-size: 14px;
}

    .save-button:hover[b-k685qniu7q], .validate-button:hover[b-k685qniu7q], .publish-button:hover[b-k685qniu7q] {
        background-color: rgba(99, 102, 241, 0.2);
    }

    .save-button i[b-k685qniu7q] {
        margin-right: 5px;
    }

    .publish-button:disabled[b-k685qniu7q] {
        background-color: #f0f0f0;
        color: #ccc;
        border: 1px solid #ccc;
        cursor: not-allowed;
    }

@media (max-width: 768px) {
    .content-row[b-k685qniu7q] {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section[b-k685qniu7q] {
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
    }
}
/* _content/Axians.Web/Shared/MainLayout.razor.rz.scp.css */
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-gl28tqjyl4] {
        display: none;
    }

    .top-row.auth[b-gl28tqjyl4] {
        justify-content: space-between;
    }

    .top-row a[b-gl28tqjyl4], .top-row .btn-link[b-gl28tqjyl4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-gl28tqjyl4] {
        flex-direction: row;
    }

    .sidebar[b-gl28tqjyl4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-gl28tqjyl4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-gl28tqjyl4], article[b-gl28tqjyl4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Axians.Web/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-69d7cfwzup] {
    background-color: #4841b3;    
}

.navbar-brand[b-69d7cfwzup] {
    color: white;
}

.nav-link[b-69d7cfwzup] {
    color: white;
    font-size: 13.5px;
}

.navbar .nav-link.active[b-69d7cfwzup] {
    color: white !important;
}

.navbar-toggler-icon[b-69d7cfwzup] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler[b-69d7cfwzup] {
    border: 1px solid white;
}

.search-input[b-69d7cfwzup] {
    width: 0;
    transition: width 0.4s ease;
    display: none;
}

.search-btn[b-69d7cfwzup] {
    color: white;
    border: none;
}

.notification-btn[b-69d7cfwzup] {
    color: white;
    border: none;
}

.settings-btn[b-69d7cfwzup] {
    color: white;
    border: none;
}

.search-input.expand[b-69d7cfwzup] {
    width: 200px; 
    display: inline-block;
}

.btn[b-69d7cfwzup] {
    margin-left: 10px;
}

.rounded-circle[b-69d7cfwzup] {
    border-radius: 50%;
}

.user-details[b-69d7cfwzup] {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: white;
    margin-left: 10px;
}

    .user-details strong[b-69d7cfwzup] {
        line-height: 1;
        color: white;
    }

    .user-details small[b-69d7cfwzup] {
        line-height: 1;
        margin-top: 5px;
        color: white;
    }

.user-name[b-69d7cfwzup] {
    font-size: 11px;
    font-weight: bold;
    display: block;
    line-height: 1.1;
}

.user-level[b-69d7cfwzup] {
    font-size: 10px;
    display: block;
    line-height: 1;
}

.user-info[b-69d7cfwzup] {
    margin-left: 10px;
}

@media (max-width: 991px) {
    .user-info[b-69d7cfwzup] {
        order: 0;
        margin-left: 60px;
    }
}
/* _content/Axians.Web/Shared/OptionList.razor.rz.scp.css */
.list-option[b-vw311ssees] {
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option[b-vw311ssees] {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .option:hover[b-vw311ssees] {
        background-color: #e0e0e0;
    }

.check-icon[b-vw311ssees] {
    color: green;
    font-size: 1.2em;
}

.uncheck-icon[b-vw311ssees] {
    color: gray;
    font-size: 1.2em;
}

.option-text[b-vw311ssees] {
    font-size: 0.9em;
    color: #333;
}
