@page "/Avisos"
@using Axians.Web.Data

<PageTitle>Avisos</PageTitle>

<div class="row">
    <div class="col-md-12">
        <Header />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <OptionList Options="OptionsList" OnOptionSelected="HandleOptionSelected"></OptionList>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                @if (selectedOption is not null)
                {
                    <Detail Options="OptionsList" CurrentIndex="@selectedOption.Id"></Detail>
                }
                else
                {
                    <p>Selecione uma opção à esquerda.</p>
                }
            </div>
        </div>    
    </div>    
</div>

@code {
    private Option selectedOption;

    private async Task HandleOptionSelected(Option option)
    {
        selectedOption = option;
        await Task.CompletedTask;
    }

    public List<Option> OptionsList { get; set; } = new List<Option>()
    {
        new () { Id = 0, Name = "Opção 1", Check = true },
        new () { Id = 1, Name = "Opção 2", Check = true },
        new () { Id = 2, Name = "Opção 3", Check = true },
        new () { Id = 3, Name = "Opção 4", Check = true },
        new () { Id = 4, Name = "Opção 5", Check = true },
        new () { Id = 5, Name = "Opção 6", Check = true },
        new () { Id = 6, Name = "Opção 7", Check = true },
        new () { Id = 7, Name = "Opção 8", Check = true },
        new () { Id = 8, Name = "Opção 9", Check = true },
        new () { Id = 9, Name = "Opção 10", Check = false },
        new () { Id = 10, Name = "Opção 11", Check = false },
        new () { Id = 11, Name = "Opção 12", Check = false },
    };
}
