@page "/Avisos"
@using Axians.Web.Data

<PageTitle>Avisos</PageTitle>

<Header />

<br />

<div class="row">
    <div class="col-4">
        <OptionList Options="options" OnOptionSelected="OnOptionSelected"></OptionList>
    </div>
    <div class="col-8">
        @if (opcaoSelecionada != null)
        {
            <Detail OpcaoName="@opcaoSelecionada.Name"></Detail>
        }
        else
        {
            <p>Selecione uma opção à esquerda.</p>
        }
    </div>
</div>

@code {
    private Option opcaoSelecionada;

    private void OnOptionSelected(Option option)
    {
        opcaoSelecionada = option;
    }

    [Parameter]
    public List<Option> options { get; set; } = new List<Option>()
    {
        new () { Id = 1, Name = "Opção 1", Check = true },
        new () { Id = 2, Name = "Opção 2", Check = true },
        new () { Id = 3, Name = "Opção 3", Check = true },
        new () { Id = 4, Name = "Opção 4", Check = true },
        new () { Id = 5, Name = "Opção 5", Check = true },
        new () { Id = 6, Name = "Opção 6", Check = true },
        new () { Id = 7, Name = "Opção 7", Check = true },
        new () { Id = 8, Name = "Opção 8", Check = true },
        new () { Id = 9, Name = "Opção 9", Check = true },
        new () { Id = 10, Name = "Opção 10", Check = false },
        new () { Id = 11, Name = "Opção 11", Check = false },
        new () { Id = 12, Name = "Opção 12", Check = false },
    };
}
