@page "/Avisos"
@using Axians.Web.Data
@using Axians.Web.Shared.Warning

<PageTitle>Avisos</PageTitle>

<div class="row">
    <div class="col-md-12">
        <HeaderComponent />
    </div>
</div>

<div class="row">
    <div class="col-md-3 g-5">
        <div class="list-option">
            @foreach (var option in Options)
            {
                <ListComponent Option="option" IsSelected="option == selectedOption" OnOptionSelected="HandleOptionSelected" />
            }
        </div>
    </div>

    <div class="col-md-9 g-5">
        <div class="row">
            <div class="col-md-12">
                @if (selectedOption is not null)
                {
                    <DetailComponent CurrentOption="selectedOption!" IsFirstOption="IsFirstOption" IsLastOption="IsLastOption" OnPrevious="GoToPrevious" OnNext="GoToNext" />
                    <br />
                    <TaxComponent SelectedTaxId="@selectedTaxId" OnTaxSelected="HandleTaxSelection" />
                    <br />
                    <CountComponent OptionWithCount="@selectedOption" OnTaxSelected="HandleTaxRadioSelection" />
                    <br />
                    <NutComponent selectedTax="@selectedOption" OnTaxUpdated="HandleTaxUpdated" />
                    <br />
                }
            </div>
        </div>
    </div>
</div>

@code {
    private Option selectedOption;
    private string selectedTaxId => selectedOption?.TaxType?.Id.ToString();

    public int CurrentIndex { get; set; } = 0;

    private bool IsFirstOption => CurrentIndex == 0;
    private bool IsLastOption => CurrentIndex == Options.Count - 1;

    private void HandleOptionSelected(Option option)
    {
        SetSelectedOption(option);
    }

    private void GoToPrevious()
    {
        if (!IsFirstOption)
        {
            SetSelectedOptionByIndex(CurrentIndex - 1);
        }
    }

    private void GoToNext()
    {
        if (!IsLastOption)
        {
            SetSelectedOptionByIndex(CurrentIndex + 1);
        }
    }

    private void SetSelectedOptionByIndex(int index)
    {
        var option = Options.ElementAtOrDefault(index);
        SetSelectedOption(option);
        CurrentIndex = index; 
    }

    private void SetSelectedOption(Option option)
    {
        selectedOption = option;
        StateHasChanged(); 
    }

    private void HandleTaxSelection(string taxId)
    {
        selectedOption.TaxType = new TaxType { Id = int.Parse(taxId), Value = taxId == "1" ? "Fixa" : "Variável" };
    }

    private void HandleTaxRadioSelection(bool isSelected)
    {
        selectedOption.Count = isSelected;
    }

    private void HandleTaxUpdated(Option updatedOption)
    {
        if (selectedOption?.Id == updatedOption.Id)
        {
            selectedOption.Tax = updatedOption.Tax;
            StateHasChanged();
        }
    }

    public List<Option> Options { get; set; } = new List<Option>
    {
        new() { Id = 0, Name = "Opção 1", Check = true, TaxType = new TaxType() { Id = 1, Value = "Fixa" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "75%"} } }  },
        new() { Id = 1, Name = "Opção 2", Check = true, TaxType = new TaxType() { Id = 2, Value = "Variável" }, Count = false, Tax = new Tax() { Id = 1, AddTaxLocation = false, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "55%"} } } },
        new() { Id = 2, Name = "Opção 3", Check = true, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = false, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana de Lisboa", Concelho = "Matosinhos", Tax = "7%"} } } },
        new() { Id = 3, Name = "Opção 4", Check = true, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Oeste", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "85%"} } } },
        new() { Id = 4, Name = "Opção 5", Check = true, TaxType = new TaxType() { Id = 2, Value = "Variável" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Centro", Nuts3 = "Área Metropolitanade Lisboa", Concelho = "Matosinhos", Tax = "75%"} } } },
        new() { Id = 5, Name = "Opção 6", Check = true, TaxType = new TaxType() { Id = 2, Value = "Variável" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = false, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "25%"} } } },
        new() { Id = 6, Name = "Opção 7", Check = true, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = false, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana de Lisboa", Concelho = "Matosinhos", Tax = "75%"} } } },
        new() { Id = 7, Name = "Opção 8", Check = true, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = false, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "37%"} } } },
        new() { Id = 8, Name = "Opção 9", Check = true, TaxType = new TaxType() { Id = 2, Value = "Variável" }, Count = false, Tax = new Tax() { Id = 1, AddTaxLocation = false, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Sul", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "75%"} } } },
        new() { Id = 9, Name = "Opção 10", Check = false, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "13%"} } } },
        new() { Id = 10, Name = "Opção 11", Check = false, TaxType = new TaxType() { Id = 2, Value = "Variável" }, Count = true, Tax = new Tax() { Id = 1, AddTaxLocation = false, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Área Metropolitana do Porto", Concelho = "Matosinhos", Tax = "75%"} } } },
        new() { Id = 11, Name = "Opção 12", Check = false, TaxType = new TaxType() { Id = 2, Value = "Fixa" }, Count = false, Tax = new Tax() { Id = 1, AddTaxLocation = true, Nuts = new List<Nut>() { new() { Id = 1, Nuts2 = "Norte", Nuts3 = "Ave", Concelho = "Fafe", Tax = "25%"}, new() { Id = 1, Nuts2 = "Oeste", Nuts3 = "Área Metropolitana de Lisboa", Concelho = "Matosinhos", Tax = "84%"} } } },
    };
}

