@using Axians.Web.Data

<div class="row">
    <div class="col-8">
        <h4>@Options[CurrentIndex].Name</h4>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
        <div class="navegacao">
            <div>
                <button class="botao-navegacao anterior" @onclick="GoToPrevious" disabled="@IsFirstOption">
                    <i class="fas fa-chevron-left icon-color"></i>
                </button>
                <span class="navegacao-texto">ANTERIOR</span>
            </div>
            <div>
                <span class="navegacao-texto">SEGUINTE</span>
                <button class="botao-navegacao seguinte" @onclick="GoToNext" disabled="@IsLastOption">
                    <i class="fas fa-chevron-right icon-color"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<p class="campos-obrigatorios">* Campos de preenchimento obrigatório</p>

@code {
    [Parameter]
    public List<Option> Options { get; set; }   

    [Parameter]
    public int CurrentIndex { get; set; }

    private bool IsFirstOption => CurrentIndex == 0;
    private bool IsLastOption => CurrentIndex == Options.Count - 1;

    private void GoToPrevious()
    {
        if (!IsFirstOption)
        {
            CurrentIndex--;
        }
    }

    private void GoToNext()
    {
        if (!IsLastOption)
        {
            CurrentIndex++;
        }
    }
}
