@using Axians.Web.Data

<div class="row align-items-center">
    <div class="col-12 col-md-8 text-center text-md-start">
        <h4>@Options[CurrentIndex].Name</h4>
    </div>    
    <div class="col-md-4 d-flex justify-content-between justify-content-md-end align-items-center navigation">
        <div class="d-flex align-items-center me-2">
            <button class="button-navigation" @onclick="GoToPrevious" disabled="@IsFirstOption">
                <i class="fas fa-chevron-left icon-color"></i>
            </button>
            <span class="navigation-text previous ms-2">ANTERIOR</span>
        </div>
        <div class="d-flex align-items-center">
            <span class="navigation-text following me-2">SEGUINTE</span>
            <button class="button-navigation" @onclick="GoToNext" disabled="@IsLastOption">
                <i class="fas fa-chevron-right icon-color"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 block-required-field">
        <span class="required-field">* Campos de preenchimento obrigatório</span>
    </div>
</div>

@code {
    [Parameter]
    public List<Option> Options { get; set; }

    [Parameter]
    public int CurrentIndex { get; set; }

    private bool IsFirstOption => CurrentIndex == 0;
    private bool IsLastOption => CurrentIndex == Options.Count - 1;

    private void GoToPrevious()
    {
        if (!IsFirstOption)
        {
            CurrentIndex--;
        }
    }

    private void GoToNext()
    {
        if (!IsLastOption)
        {
            CurrentIndex++;
        }
    }
}
