@inherits LayoutComponentBase

<PageTitle>Axians.Web</PageTitle>

<NavMenu/>

<Header />

<div class="page">
    <main>
        <article class="content mx-5">
            @Body
        </article>
    </main>
</div>
