.navbar {
    background-color: #4841b3;    
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    font-size: 13.5px;
}

.navbar .nav-link.active {
    color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid white;
}

.search-input {
    width: 0;
    transition: width 0.4s ease;
    display: none;
}

.search-btn {
    color: white;
    border: none;
}

.notification-btn {
    color: white;
    border: none;
}

.settings-btn {
    color: white;
    border: none;
}

.search-input.expand {
    width: 200px; 
    display: inline-block;
}

.btn {
    margin-left: 10px;
}

.rounded-circle {
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color: white;
    margin-left: 10px;
}

    .user-details strong {
        line-height: 1;
        color: white;
    }

    .user-details small {
        line-height: 1;
        margin-top: 5px;
        color: white;
    }

.user-name {
    font-size: 11px;
    font-weight: bold;
    display: block;
    line-height: 1.1;
}

.user-level {
    font-size: 10px;
    display: block;
    line-height: 1;
}

.user-info {
    margin-left: 10px;
}

@media (max-width: 991px) {
    .user-info {
        order: 0;
        margin-left: 60px;
    }
}
