@using Axians.Web.Data

<div class="row list-option">
    <div class="col-md-12">
        @foreach (var option in Options)
        {
            <div class="row align-items-center option" @onclick="() => HandleOptionSelected(option)">
                <div class="col-md-12 d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="option-text">@option.Name</span>
                    </div>
                    <div class="d-flex align-items-center">
                        @if (option.Check)
                        {
                            <i class="fas fa-check-circle check-icon"></i>
                        }
                        else
                        {
                            <i class="far fa-circle uncheck-icon"></i>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />

@code {
    [Parameter]
    public List<Option> Options { get; set; }

    [Parameter]
    public EventCallback<Option> OnOptionSelected { get; set; }

    private void HandleOptionSelected(Option option)
    {
        OnOptionSelected.InvokeAsync(option);
    }
}
