@using Axians.Web.Data
<div class="row select-tax">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <span class="type-text">Tipo de Taxa</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="type-label">Adicionar tipo de taxa</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <select class="select-custom mt-2" @bind="SelectedTaxId">
                    <option value="">Selecionar</option>
                    @foreach (var tax in Taxes)
                    {
                        <option value="@tax.Id">@tax.Type</option>
                    }
                </select>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter] public IEnumerable<Tax> Taxes { get; set; }
    [Parameter] public string SelectedTaxId { get; set; }
    [Parameter] public EventCallback<string> OnTaxSelected { get; set; }
}
