.warning[b-k685qniu7q] {
    font-size: 12px;
    color: #999;
    padding-left: 45px;
}

.back-button[b-k685qniu7q] {
    background-color: transparent;
    border: none;
    color: #7f5fe8;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-title[b-k685qniu7q] {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 15px;
    font-weight: 300;
    color: #999;
}

.pen-color[b-k685qniu7q] {
    color: #7f5fe8;
    margin-top: 1px;
}

.status[b-k685qniu7q] {
    font-size: 12px;
    color: #7f5fe8;
}

.save-button[b-k685qniu7q], .validate-button[b-k685qniu7q], .publish-button[b-k685qniu7q] {
    margin-bottom: 15px;
    padding: 8px 16px;
    border: 1px solid #7f5fe8;
    background-color: white;
    color: #7f5fe8;
    border-radius: 5px;
    font-size: 14px;
}

    .save-button:hover[b-k685qniu7q], .validate-button:hover[b-k685qniu7q], .publish-button:hover[b-k685qniu7q] {
        background-color: rgba(99, 102, 241, 0.2);
    }

    .save-button i[b-k685qniu7q] {
        margin-right: 5px;
    }

    .publish-button:disabled[b-k685qniu7q] {
        background-color: #f0f0f0;
        color: #ccc;
        border: 1px solid #ccc;
        cursor: not-allowed;
    }

@media (max-width: 768px) {
    .content-row[b-k685qniu7q] {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section[b-k685qniu7q] {
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
    }
}
