.lista-opcoes[b-vw311ssees] {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opcao[b-vw311ssees] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .opcao:hover[b-vw311ssees] {
        background-color: #e0e0e0;
    }

.check-icon[b-vw311ssees] {
    color: green; 
    font-size: 1.2em;
}

.uncheck-icon[b-vw311ssees] {
    color: gray; 
    font-size: 1.2em;
}

.opcao-text[b-vw311ssees] {
    font-size: 0.9em; 
    color: #333;
}
